<!DOCTYPE html>
<html lang="en">
<body>
    <form action="/result" method="POST">
        <p>Name <input type='text' name='name'></p>
        <p>Student Number <input type='text' id='StudentNumber' name='StudentNumber' /></p>
        <p>
            Gender <br><br>
            <input type="radio" name="gender" value="Male"> Male
            <input type="radio" name="gender" value="Female"> Female </p>
        <p>Major <input type='text' id='Major' name='Major' /></p>
        <p>Programming Languages <br><br>
                <input type="checkbox" name="languages" value="html"> HTML 
                <input type="checkbox" name="languages" value="css"> CSS 
                <input type="checkbox" name="languages" value="java"> JAVA
                <input type="checkbox" name="languages" value="cpp"> C++  
                <input type="checkbox" name="languages" value="python"> python 
                <input type="checkbox" name="languages" value="ETC"> ETC     
        </p>
        <button type='submit' name='submit' value='submit'>submit</button>
    </form>
</body>
</html>
